# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Node
node_modules/
.next/
out/
dist/
coverage/
*.tsbuildinfo

# Go
bin/
*.test

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
